
* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
}

.header {
    display: flex;
    justify-content: space-between;
}

.right-links > ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}